body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #262626;
}



.main-navigation {
    .main-navigation__item {
        margin-top: 70px;
        display: grid;
        grid-template-columns: auto auto;
        justify-content: start;
        gap: 160px;

        li {
            list-style: none;
            .home {
                opacity: 0.5;
            }
            a {
                color: #ffffff;
                text-decoration: none;
                font-size: 18px;
                font-weight: 400;
            }
        }
    }
}

.images {
    margin-top: 170px;
    display: flex;
    justify-content: end;
    gap: 30px;
}

.line {
    margin-left: 238px;
    margin-top: 250px;
    margin-bottom: 120px;

    .grid {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: start;
    }

    p {
        margin-top: 0px;
        font-size: 12px;
        font-weight: 400;
        color: #ffffff;
    }
}