body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans" sans-serif;
}

.main {
    height: 100px;
    display: flex;
    display: flex;
    gap: 140px;

    .main-right {
        margin-top: 90px;

        .title {
            font-size: 36px;
            font-weight: 700;
        }

        .main__img {
            margin-top: 140px;
        }

        .description {
            font-size: 24px;
            font-weight: 400;
        }

        .grid {
            display: grid;
            grid-template-columns: auto auto;
            column-gap: 50px;
            justify-content: center;
            margin-left: -330px;

            p {
                font-size: 24px;
                font-weight: 600;
            }

            .p {
                font-weight: 400;
            }

            .green {
                color: #009e06;
                font-weight: 400;
            }
        }

        .paragraph {
            margin-top: 200px;
            font-size: 12px;
            font-weight: 600;
        }
    }


    
}